.front-end-edit ul {
    padding: 0 !important;
}
.front-end-edit li {
    list-style: none;
    margin-bottom: 6px !important;
}
.front-end-edit label {
    margin-right: 10px;
    display: block;
    float: left;
    text-align: right;
    width: 100px !important;
}
.front-end-edit .radio label {
    float: none;
}
.front-end-edit .readonly {
    border: none !important;
    color: #666;
}    
.front-end-edit #editor-xtd-buttons {
    height: 50px;
    width: 600px;
    float: left;
}
.front-end-edit .toggle-editor {
    height: 50px;
    width: 120px;
    float: right;
}

#access-rules a:hover{
    background:#f5f5f5 url('../images/slider_minus.png') right  top no-repeat;
    color: #444;
}

fieldset.radio label{
    width: 50px !important;
}

form div.button-div{
    margin-left: 110px;
}

.form-horizontal {
    max-width: 1080px;
}

.center {
    text-align: center;
}

ul.actions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.actions li {
    float: left;
}

ul.actions li a {
    display: block;
    color: white;
    text-align: center;
    padding:0 5px;
    text-decoration: none;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.jcc-color-box {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.other-filters{
    padding: 0 14px;
}
.create-report-msg,
.dropzone {
    min-height: 150px;
    border: 2px dashed #0087F7;
    background: #ebebeb;
    border-radius: 5px;
    padding:0;
    box-sizing: border-box;
}


.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 10px;
    background: #ffffff;
}


.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {
    display: block;
    width: 30px;
    height: 30px;
}
.dropzone .dz-preview .dz-success-mark svg {
    filter: invert(55%) sepia(9%) saturate(3170%) hue-rotate(81deg) brightness(93%) contrast(61%);
}

.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 68%;
    left: 50%;
    margin-left: -15px;
    margin-top: 0;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;
}
.flex-item:nth-child(1) {
    -webkit-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
}

.files-listing {
    margin-top: 50px;
}



/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/
@-moz-document url-prefix() {
    .flex-container {
        width: 100%;
        -moz-box-sizing: border-box;
    }
}

